<p id="notice"><%= notice %></p>

<center>
  <h1>Noticias</h1>
</center>
<div class="row row-cols-1 row-cols-lg-2 g-3 mt-2">
  <% @news.each do |news| %>
    <div class="col">
      <div class="card news-card overflow-hidden">
        <a class="row g-0 h-100" href="<%= news.link %>" target="_blank">
          <div class="col-4">
            <img src="https://via.placeholder.com/400x300" class="h-100 w-100 rounded-start" />
          </div>
          <div class="col-8">
            <div class="card-body h-100">
              <h5><%= news.title %></h5>
              <p class="card-text"><small class="text-primary"><%= news.release %></small></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  <% end %>
  <div class="digg_pagination  mt-3 ">
    <%= will_paginate @news %>
  </div>
</div>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>Link</th>-->
<!--      <th>Release</th>-->
<!--      <th>Email</th>-->
<!--      <th>Origin</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @news.each do |news| %>-->
<!--      <tr>-->
<!--        <td><%= news.title %></td>-->
<!--        <td><%= news.link %></td>-->
<!--        <td><%= news.release %></td>-->
<!--        <td><%= news.email %></td>-->
<!--        <td><%= news.origin_id %></td>-->
<!--        <td><%= link_to 'Show', news %></td>-->
<!--        <td><%= link_to 'Edit', edit_news_path(news) %></td>-->
<!--        <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%= link_to 'New News', new_news_path %>-->
