<h1>Politicos</h1>
<% if logged_in? %>
    <%= form_tag('modpoliticos', method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Position</th>
      <th>Political compass</th>
      <th>Previous position</th>
      <th>Education</th>
      <th>President</th>
      <th>Political party</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @politicians.each do |politician| %>
      <tr>
        <td><%= politician.name %></td>
        <td><%= politician.birthdate %></td>
        <td><%= politician.position %></td>
        <td><%= politician.political_compass %></td>
        <td><%= politician.previous_position %></td>
        <td><%= politician.education %></td>
        <td><%= politician.president %></td>
        <td><%= politician.political_party.name %></td>
        <td><%= link_to 'Show', politician %></td>
        <td><%= link_to 'Edit', edit_politician_path(politician) %></td>
        <td><%= link_to 'Destroy', politician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    <div class="digg_pagination  mt-3 ">
          <%= will_paginate @politicians %>
    </div>

<br>

<%= link_to 'New Politician', new_politician_path %>
<% else %>
    <% controller.redirect_to root_path %>
<% end %>
